*{
	margin: 0 auto;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: sans-serif;
	width: 100%;
}

/*header*/
#header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
/*	background-color: black;   */
	float: left;
	display: inline;
	opacity: 0.7;
}
#header img{
	height: 80px;
	width: auto;
	padding-left: 108px;
	float: left;
}
#menu_header{
	color: black;
	font-weight: bold;
	padding-right: 108px;
	text-align: right;
	background-color: black;
}
#menu_header ul{
	list-style-type: none;
	padding-left: 108px;
}
#menu_header ul li{
	display: inline-block;
	width: 100px;
	height: 80px;
	line-height: 80px;
}
#menu_header ul li a{
	color: white;
	text-decoration: none;
	display: block;
}
#menu_header ul li a:hover{
	color: #00FF00;
}


#covid_music{
	margin-top: 80px;
	width: 100%;
	height: 100px;
	float: left;
	padding-left: 108px;
	padding-top: 50px;
	line-height: 50px;
}
.heading{
	font-size: 26px;
	color: green;
	font-weight: bold;
}
#covid_music div p a{
	color: black;
}
#content {
	width: 100%;
	height: 400px;
	padding-top: 400px;
	float: left;
	background-image: url(https://github.com/vutiendung2205/dungvutien2201-project1/blob/master/img/background_img.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	line-height: 50px;
}
#content h1{
	font-size: 70px;
}
.download{
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 20px;
	background-color: orange;
	padding: 20px 30px;
	border: none;
	border-radius: 30px;
	transition: 1.5s;
}
.download span{
    position:relative;
    display:inline-block;
    cursor:pointer;
    transition: 1.5s;
}
.download span:after{
    content:"\00bb";
    position:absolute;
    right:-15px;
    transition:1s;
    opacity:0; 
}
.download:hover span{
    padding-right:30px;
}
.download:hover span:after{
    opacity:1;
    right:0;
}

#footer{
	width: 100%;
	height: 480px;
	background-color: black;
	color: grey;
	float: left;
}
#menu_footer{
	height: 480px;
	width: 60%;
	float: left;
	padding-top: 50px;
	padding-left: 108px;
	text-align: left;
}
#menu_footer tr {
	line-height: 20px;
}
#menu_footer tr th{
	text-transform: uppercase;
}
#menu_footer a{
	text-decoration: none;
	color: white;
}
#menu_footer a:hover{
	color: #00FF00;
	transition: 0.5s;
}
#menu_footer img{
	height: 80px;
	width: auto;
}
#social_network{
	padding-top: 100px;
	float: right;
	width: 40%;
	height: 380px;
	text-align: center;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
  color: #01DF01;
  transition: 0.5s;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
#menu_bottom_link{
	padding-top: 50px;
	width: 100%;
	height: 80px;
	float: left;
	background-color: black;
}
#menu_bottom_link ul{
	list-style-type: none;
	padding-left: 108px;
}
#menu_bottom_link ul li{
	padding-right: 30px;
	display: inline-block;
	text-align: left;
	font-size: 14px;
	line-height: 30px;
}
#menu_bottom_link ul li a{
	text-decoration: none;
	color: white;
}
#menu_bottom_link ul li a:hover{
	color: #01DF01;
}
